<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div style="font-family: 'Source Sans Pro', sans-serif" class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.data.socialmedia %}
        <p>Contact</p>
        <ul id="contact-list">
          {% assign sm = site.data.socialmedia %}
          {% for entry in sm %}
              {% assign key = entry | first %}
              {% if sm[key].id %}
                  <li class="p-name"><a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}" target="_blank"><i class="fa {{ sm[key].fa-icon }}"></i>{{ sm[key].title }}</a></li>
              {% endif %}
          {% endfor %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include sponsors.html -%}
    </div>

  </div>

</footer>
